<!DOCTYPE html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script.js"></script>
</head>

<body onload="startVue()">
    <div id='vuediv'>
        <span>Country</span>
        <select v-model="selected">
            <option disabled value="">Select A Country</option>
            <option v-for="country in countries">{{country.name}}</option>
          </select><br>
          <span v-if="selected !== ''">Selected: {{ selected }}</span>

          <br><br>
            <div id="stateMenu" v-if="selected !== ''">
                <select v-model="selected">

                </select>
            </div>
    </div>
</body>